<template name="repositoryRessource">
<div id=main>
    <div class="container">
        <div class="row main-row">
            <div class="8u 12u(mobile)">
                Choisissez une ressource à afficher et à annoter <br/> <br/>

                <form action="" class="getMetaRessource">
                    <select name="ressource">
                        {{#each listRessources}}
                        <option value={{.}}> {{.}} </option>
                        {{/each}}
                    </select>
                    <button type="submit" value="open"> Ouvrir et visualiser </button>
                    <button type="submit" value="delete"> Supprimer du dépôt </button>
                </form>
                <br/>
                <div>
                    <textarea rows="80" cols="100"> {{doc}} </textarea>
                </div>
            </div>
            <div class="4u 12u(mobile)">
                <section>
                    {{>metaRessource}}
                </section>
                <section>
                    Charger une ressource (PDF, .txt, .xls, ..):
                    {{> uploadRessource}}
                </section>
            </div>
        </div>
    </div>

</div>
</template>


<template name="metaRessource">
Métadonnées de la ressource selectionnée : {{ressourceSelect}} <br/> <br/>
{{METAressources}}
</template>

<template name="uploadRessource">
    <form method="POST" class="addRessource">
        <br/>
        Chain : <select name="chain">
            {{#each listChains}}
            <option value={{.}}> {{.}} </option>
            {{/each}}
        </select>
        <br/>

        <input type="text" name="filename" value="Nom du document"><br/>
        <input type="text" name="author" value="Auteur"><br/>
        <input type="file"> <button type="submit" value="addRessource"> Ajouter</button>
    </form>
</template>
