<template name="repositoryOnto">

<style type='text/css'>
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>

<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ServOWeb 2</a>
            </div>
            <center>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"> Ontology repository <span class="sr-only">(current)</span></a></li>
                        <li><a href="./repositoryRessource">Resource enhancement</a></li>
                        <li><a href="./servomap">Alignment process</a></li>
                        <li><a href="./visualisation">Visualization</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </center>
        </div><!-- /.container-fluid -->
    </nav>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation"><a href="#EntityViewer" aria-controls="EntityViewer" role="tab" data-toggle="tab">EntityViewer</a></li>
    <li role="presentation"><a href="#MappingViewer" aria-controls="MappingViewer" role="tab" data-toggle="tab">MappingViewer</a></li>
    <li role="presentation"><a href="#AdminViewer" aria-controls="AdminViewer" role="tab" data-toggle="tab">Administration</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="Overview">
          <br/>
          <div class="row">
              <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading"> Ontologies </div>
                      <div class="panel-body">
                          <select multiple class="form-control" name="ontologyOverview">
                              {{#each listOntos}}
                              <option value={{.}}> {{.}} </option>
                              {{/each}}
                          </select>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading"> Entity : {{currentEntityLabel}} </div>
                      <div class="panel-body">
                          URI : {{currentEntity}} <br/>
                          <br/>
                          <table class="table table-striped table-condensed table-hover table-bordered">
                              <thead>
                                  <th>Available predicates</th>
                              </thead>
                              <tbody>
                                 {{#each currentEntityPredicates}}
                                 <!--<tr><a href="./repositoryOnto?currentEntity={{escapeEntity currentEntity}}&currentPredicate={{escapeEntity predicate}}">{{predicate}}</a></tr>-->
                                 <tr><a href="./repositoryOnto?currentEntity={{escapeEntity predicate}}">{{predicate}}</a></tr>
                                 {{/each}}
                                 <!-- TODO : show result "currentEntity predicate ?object" -->
                              </tbody>
                          </table>
                          {{>MappingsAvailable}}
                      </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="panel panel-default">
                      <div class="panel-heading"> SPARQL Query </div>
                      <div class="panel-body">
                          {{>EditorPage}}
                          <center><br/><button type="button" class="btn btn-primary" value="runQuery"> Run </button></center>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading"> Results </div>
                      <div class="panel-body">
                          <table class="table table-striped table-condensed table-hover table-bordered">
                              <thead>
                                  {{#each headerResultQuery}}
                                  <th>{{header}}</th>
                                  {{/each}}
                              </thead>
                              <tbody>
                                    {{#each rowResultQuery}}
                                <tr>
                                    {{#each resultMap res}}
                                     <td><a href="./repositoryOnto?currentEntity={{escapeEntity .}}">{{.}}</a></td>
                                    {{/each}}
                                </tr>
                                    {{/each}}
                              </tbody>
                          </table>
                          <ul class="pager">
                              <li class="previousResults"><a href="#">&larr; Previous</a></li>
                              <li class="nextResults"><a href="#">Next &rarr;</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="EntityViewer">
          <br/>
          <div class="panel panel-default">
              <div class="panel-heading"> [{{currentEntityLabel}}] : {{currentEntity}} </div>
              <div class="panel-body">
                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <thead>
                          <th>predicate</th>
                          <th>object</th>
                      </thead>
                      <tbody>
                      {{#each rowResultQueryEntityRight}}
                      <tr>
                          <td><a href="./repositoryOnto?currentEntity={{escapeEntity predicate}}">{{predicate}}</a></td>
                          <td><a href="./repositoryOnto?currentEntity={{escapeEntity object}}">{{object}}</a></td>
                      </tr>
                      {{/each}}
                      </tbody>
                  </table>
                  <ul class="pager">
                      <li class="previousResultsRight"><a href="#">&larr; Previous</a></li>
                      <li class="nextResultsRight"><a href="#">Next &rarr;</a></li>
                  </ul>
                  <table class="table table-striped table-condensed table-hover table-bordered">
                      <thead>
                          <th>subject</th>
                          <th>predicate</th>
                      </thead>
                      <tbody>
                      {{#each rowResultQueryEntityLeft}}
                      <tr>
                          <td><a href="./repositoryOnto?currentEntity={{escapeEntity subject}}">{{subject}}</a></td>
                          <td><a href="./repositoryOnto?currentEntity={{escapeEntity predicate}}">{{predicate}}</a></td>
                      </tr>
                      {{/each}}
                      </tbody>
                  </table>
                  <ul class="pager">
                      <li class="previousResultsLeft"><a href="#">&larr; Previous</a></li>
                      <li class="nextResultsLeft"><a href="#">Next &rarr;</a></li>
                  </ul>
                  {{>MappingsAvailable}}
              </div>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="MappingViewer">MappingViewer Content</div>
      <div role="tabpanel" class="tab-pane" id="AdminViewer">
          <div class="row">
              <div class="col-md-4">
                  <div class="panel panel-default">
                      <div class="panel-heading"> Repository management </div>
                      <div class="panel-body">
                          Choose an ontology <br/>
                          <form action="" name="getMetaOntoForm" class="getMetaOntoForm">
                              <select name='ontology'>
                                  {{#each listOntos}}
                                  <option value={{.}}> {{.}} </option>
                                  {{/each}}
                              </select> <br/> <br/>
                              <button class="btn btn-default" type="submit" name="open" value="open"> See metadata </button>
                              <button class="btn btn-danger" type="submit" name="delete" value="delete"> Delete from repository </button>
                          </form>
                          {{> metadata}}
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading"> Load a new ontology </div>
                      <div class="panel-body">
                          <form action="" name="addOntology" class="addOntology">
                              Format :
                              <select name="format">
                                  <option>text/turtle</option>
                                  <option>application/x-geoatom+xml</option>
                                  <option>text/calendar</option>
                                  <option>application/html</option>
                                  <option>application/rdf+json</option>
                                  <option>application/ld+json</option>
                                  <option>application/xhtml+xml</option>
                                  <option>application/x-turtle</option>
                                  <option>text/n3</option>
                                  <option>application/xml</option>
                                  <option>text/rdf+n3</option>
                                  <option>application/trix</option>
                                  <option>text/vcard</option>
                                  <option>application/x-trig</option>
                                  <option>application/atom+xml</option>
                                  <option>application/rss+xml</option>
                                  <option>text/plain</option>
                                  <option>application/rdf+xml</option>
                                  <option>text/html</option>
                                  <option>application/x-georss+xml</option>
                              </select><br/>
                              Type a graph name: <input type="text" name="context">
                              {{> uploadOntology}}
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</template>

<template name="metadata">
Ontology's metadata : <b> {{ontoSelect}} </b> <br/>
    <ul>
        {{#each METAS}}
        <li> {{.}} </li>
        {{/each}}
    </ul>
</template>

<template name="uploadOntology">
<style type='text/css'>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    outline:none;
    background:white;
    cursor:inherit;
    display:block;
}
</style>
<span class="btn btn-primary btn-file">
    Browse... <input type=file name="ontology"/>
</span>
<button class="btn btn-default" type="submit" value="addOntology"> Add </button>
</template>

<template name="EditorPage">
<style>
.CodeMirror {
    border: 1px solid #eee;
    height:auto;
}
</style>
{{> CodeMirror id="SPARQLQuery" name="SPARQLQuery" options=editorOptions code=editorCode reactiveVar="queryUserSPARQL"}}
</template>
<template name="MappingsAvailable">
<table class="table table-striped table-condensed table-hover table-bordered">
    <thead>
        <th>Available mappings</th>
    </thead>
    <tbody>
    {{#each currentEntityMappings}}
    <tr><a href="./repositoryOnto?currentEntity={{escapeEntity mappings}}">{{mappings}}</a></tr>
    {{/each}}
    </tbody>
</table>
<ul class="pager">
    <li class="previousResultsMappings"><a href="#">&larr; Previous</a></li>
    <li class="nextResultsMappings"><a href="#">Next &rarr;</a></li>
</ul>

</template>
