<template name="repositoryRessource">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ServOWeb 2</a>
            </div>

            <center>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li><a href="./repositoryOnto"> Ontology repository</a></li>
                        <li class="active"><a href="#">Ressource enhancement <span class="sr-only">(current)</span></a></li>
                        <li><a href="./servomap">Alignment process</a></li>
                        <li><a href="./visualisation">Visualization</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </center>
        </div><!-- /.container-fluid -->
    </nav>

<div id=main>
    <div class="container">
        <div class="row main-row">
            <div class="8u 12u(mobile)">
                Choisissez une ressource à afficher<br/> <br/>

                <form action="" class="getMetaRessource">
                    <select name="ressource">
                        {{#each listRessources}}
                        <option value={{.}}> {{.}} </option>
                        {{/each}}
                    </select>
                    <button type="submit" value="open"> Ouvrir et visualiser </button>
                    <button type="submit" value="delete"> Supprimer du dépôt </button>
                    <button type="submit" value="addToMarmotta"> Ajouter dans Marmotta </button>
                </form>
                <br/>
                <div>
                    <textarea rows="80" cols="100"> {{doc}} </textarea>
                </div>
            </div>
            <div class="4u 12u(mobile)">
                <section>
                    {{>metaRessource}}
                </section>
                <section>
                    Charger une ressource à annoter (PDF, .txt, .xls, ..):
                    {{> uploadRessource}}
                </section>
            </div>
        </div>
    </div>

</div>
</template>


<template name="metaRessource">
Métadonnées de la ressource selectionnée : {{ressourceSelect}} <br/> <br/>
{{METAressources}}
</template>

<template name="uploadRessource">
    <form method="POST" class="addRessource">
        <br/>
        Chain : <select name="chain">
            {{#each listChains}}
            <option value={{.}}> {{.}} </option>
            {{/each}}
        </select>
        <br/>

        <input type="text" name="filename" value="Nom du document"><br/>
        <input type="text" name="author" value="Auteur"><br/>
        <input type="file"> <button type="submit" value="addRessource"> Ajouter</button>
    </form>
</template>
