<template name="repositoryOnto">
<div id=main>
    <div class="container">
        <div class="row main-row">
            <div class="8u 12u(mobile)">
                Choisissez une ontologie à afficher <br/><br/>

                <form action="" name="getMetaOntoForm" class="getMetaOntoForm">
                    <select name='ontology'>
                        {{#each listOntos}}
                        <option value={{.}}> {{.}} </option>
                        {{/each}}
                    </select>
                    <button type="submit" name="open" value="open"> Ouvrir et visualiser </button>
                    <button type="submit" name="delete" value="delete"> Supprimer du dépôt</button>
                </form>
            </div>
            <div class="4u 12u(mobile)">
                {{> metadata}}
                <section>
                    <form action="" name="addOntology" class="addOntology">
                        Charger une ontologie : <br/><br/>

                        Format :
                        <select name="format">
                            <option>text/turtle</option>
                            <option>application/x-geoatom+xml</option>
                            <option>text/calendar</option>
                            <option>application/html</option>
                            <option>application/rdf+json</option>
                            <option>application/ld+json</option>
                            <option>application/xhtml+xml</option>
                            <option>application/x-turtle</option>
                            <option>text/n3</option>
                            <option>application/xml</option>
                            <option>text/rdf+n3</option>
                            <option>application/trix</option>
                            <option>text/vcard</option>
                            <option>application/x-trig</option>
                            <option>application/atom+xml</option>
                            <option>application/rss+xml</option>
                            <option>text/plain</option>
                            <option>application/rdf+xml</option>
                            <option>text/html</option>
                            <option>application/x-georss+xml</option>
                        </select><br/>
                        Context / nom du graphe : <input type="text" name="context">
                        {{> uploadOntology}}
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>
</template>

<template name="metadata">
Métadonnées de l'ontologie : <b> {{ontoSelect}} </b> <br/>
<section>
    <ul>
        {{#each METAS}}
        <li> {{.}} </li>
        {{/each}}
    </ul>
</section>
</template>

<template name="uploadOntology">
<!--{{> upload_bootstrap }}-->
    <input type=file name="ontology"/>
    <button type="submit" value="addOntology"> Ajouter </button>
</template>
