<template name="servomap">
<style type='text/css'>
html, body, #graph-container > svg {width: 100%,; height: 100%;}
#graph-container > svg{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#toggleRender {
    margin: 50px;
    position: fixed;
    left: 0 ;
    top: 4%;
    z-index: 99999;
}
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ServOWeb 2</a>
        </div>

        <center>
            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li><a href="./repositoryOnto"> Ontology repository</a></li>
                    <li><a href="./repositoryRessource">Resource enhancement</a></li>
                    <li class="active"><a href="#">Alignment process <span class="sr-only">(current)</span></a></li>
                    <li><a href="./visualisation">Visualization</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </center>
    </div><!-- /.container-fluid -->
</nav>


<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"> Choose 2 ontologies to align with {{tool}} tool : </div>
            <div class="panel-body">
                <form action="" name='align2ontos' class="align2ontos">
                    <select class="form-control" name="firstOnto">
                        {{#each listOntos}}
                        <option value={{.}}> {{.}} </option>
                        {{/each}}
                    </select> <br/>
                    <select class="form-control" name="secondOnto">
                        {{#each listOntos}}
                        <option value={{.}}> {{.}} </option>
                        {{/each}}
                    </select>
                    <input type="checkbox" name="binary" class="binary"> Binary index process (dummy : TODO) <br/> <br/>
                    Reference file [Optional]
                    <span class="btn btn-primary btn-file">
                       Browse... <input type=file name="referenceFile">
                    </span>
                    <button class="btn btn-default" type=submit value="align"> Map with {{tool}}</button>
                    <br/> {{DONE}}
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading"> Mappings available : </div>
            <div class="panel-body">
                {{>mappingResults}}
            </div>
        </div>
        <div class="col-md-2">
            <!--<button class="btn btn-default" value="visualiseMappings"> View / edit </button>-->
            <button class="btn btn-default" value="putMappings"> Confirm the mappings </button>
        </div>
    </div>
</div>
<!-- {{>visuVivaGraphMappings}}-->
</template>

<template name="visuVivaGraphMappings">
<button class="btn btn-default" id="toggleRender" value="pause">Pause render</button>
<div id="graph-container"></div>
<div class="graph-overlay"></div>
</template>

<template name="mappingResults">
<style>
.CodeMirror {
    border: 1px solid #eee;
    height:auto;
}
</style>
{{> CodeMirror id="mappingCM" name="mappingCM" options=editorOptions reactiveVar="mappingsTxt"}}
</template>
