<template name="mainLayout">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <!--<div id="page-wrapper">
        <div id="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <header id="header">
                        <h1><a href="#" id="logo">Application</a></h1>
                        <nav id="nav">
                        <a href="{{pathFor route='accueil'}}">Accueil</a>
                        <a href="{{pathFor route='repositoryOnto'}}">Ontology repository</a>
                        <a href="{{pathFor route='repositoryRessource'}}">Ressource repository</a>
                        <a href="{{pathFor route='search'}}">Search</a>
                        <a href="{{pathFor route='servomap'}}">ServOMap</a>
                        <a href="{{pathFor route='visualisation'}}">Visualisation</a>
                        </nav>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div>
        {{> yield}}
    </div>
</body>
</template>

